@import 'parts/reset';
@import 'parts/fonts';

body {
	font-family: $font;
	.logo {
		display: block;
		width: 124px;
		height: 20px;
		background: url(../img/logo.png);
		background-size: contain;
	}
} 