@font-face {
  font-family: 'GillSans';
  src: url('../fonts/GillSans_light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GillSans';
  src: url('../fonts/GillSans_regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GillSans';
  src: url('../fonts/GillSans_bold.otf');
  font-weight: 700;
  font-style: normal;
}