@font-face {
  font-family: 'GillSans';
  src: url('../fonts/GillSans_regular.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GillSans';
  src: url('../fonts/GillSans_bold.woff');
  font-weight: 700;
  font-style: normal;
}