$color: #000;
$wbg: #eef1f8;

$height-icon: 12px;
$width-line: 20px;
$height-line: 2px;

$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;

#hamburger {
  margin-top: 4px;
  width:$width-line;
  height:$height-icon;
  position:relative;
  display:block;
  &:before {
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    content:'';
    display: block;
  }
  .line {
    display:block;
    background:$color;
    width:$width-line;
    height:$height-line;
    position:absolute;
    left:0;
    transition: all $transition-time;
    -webkit-transition: all $transition-time;
    -moz-transition: all $transition-time;
    &.line-1 {
      top:0;
    }
    &.line-2 {
      top:50%;
    }
    &.line-3 {
      top:100%;
    }
  }
  &:hover, &:focus {
     .line-1 {
        transform: translateY($height-line / 2 * -1);
        -webkit-transform: translateY($height-line / 2 * -1);
        -moz-transform: translateY($height-line / 2 * -1);
     }
    .line-3 {
        transform: translateY($height-line / 2);
        -webkit-transform: translateY($height-line / 2);
        -moz-transform: translateY($height-line / 2);
    }  
  }
  &.active {
    .line-1 {
      transform: translateY($translateY) translateX($translateX) rotate($rotation);
      -webkit-transform: translateY($translateY) translateX($translateX) rotate($rotation);
      -moz-transform: translateY($translateY) translateX($translateX) rotate($rotation);
    }
    .line-2 {
      opacity:0;
    }
    .line-3 {
      transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      -webkit-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
      -moz-transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
    }
  }
}

h1 {
  text-transform:uppercase;
}
a {
  text-decoration:none;
  color:#95a5a6;
  margin: 0.5em 1.5em;
  display:inline-block;
  &:hover, &:focus {
    color:$color;
  }
}
// mobile contacts popup
.toggle-contacts {
  position: absolute;
  right: 0;
  top: 0;
  @include sprite('tel');
  display: block;
}
#contacts-mobile {
  display: none;
  position: fixed;
  top: 0; 
  padding: 110px $mobPadding 40px;
  background-color: $wbg;
  transition: 0.4s ease-out;
  transform: translate(1023px,0);
  height: 100%;
  left: 0;
  right: 0;
  z-index: 96;
  a {
    display: block;
    margin: 0 0 25px;
    color: #000;
  }
  &.active {
    transform: translate(0,0);
  }
  .soc-list {
    li {
      a {
        display: block;
        transition: 0.2s ease;
        &:hover {
          opacity: 0.5;
        }
      }
      .dou {
        @include sprite('dou_black'); 
      }
      .up {
        @include sprite('up_black'); 
      }
    }
  }
  .loc-list {
    position: absolute;
    bottom: 90px;
    left: 25px;
    right: 25px;
    display: flex;
    li {
      margin-left: 25px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .copyright {
    position: absolute;
    left: 25px;
    right: 25px;
    bottom: 40px;
    opacity: 0.5;
  }
}
@media screen and (max-width: 640px) {
  #contacts-mobile {
    transform: translate(640px,0);
  }
  #menu {
    transform: translate(-640px,0);
  }
}